<div>
    <div>
     <h2>Add New Request</h2>
    </div>
    <br>
      <div>
       <p-multiSelect id='contacts-id' [options]="contacts" [(ngModel)]="selectedContacts" optionLabel="email" (onChange)="onChange($event)" defaultLabel="Select contacts" ></p-multiSelect>
    </div>
    <br><br>
    <div style="width:55em" ><p-fileUpload  name="demo[]" chooseLabel="UpLoad Excel" accept=".xlsx"  [showCancelButton]="false" (onSelect)="onSelectFile($event)" [showUploadButton]="false"></p-fileUpload></div>
    <br>
    <!--<div>
      <p-button label="Submit" (disabled)="isDisabled($event)" (onclick)="submitRequest($event)"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}" ></p-button>
    </div>-->
  <div>
  </div>
