<p-card [style]="{width: '360px',box:'none'}">
   
        <div> 
            <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="name"> 
            <label for="float-input">Name</label>
            </span>
        </div>
       <br>
        <div> 
            <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="email"> 
            <label for="float-input">Email</label>
            </span>
        </div>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
</p-card>
