<div>
    <h2>Edit Contact(s)</h2>
    
    <div class="card" style="width:60em">
        <p-table  #dt [value]="contacts" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" editMode="row">
            <ng-template pTemplate="header">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email(s)</th>
                    <th style="width:8rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contact  let-editing="editing" let-ri="rowIndex" >
                <tr [pEditableRow]="contact">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="contact.firstName" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{contact.firstName}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="contact.lastName" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{contact.lastName}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="contact.email" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{contact.email}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(contact)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(contact)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(contact, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"  appAddRow [table]="dt" [newRow]="newRow()"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" ></p-button>
            </ng-template>
        </p-table>
    </div>
</div>
